<h1>Testing Testing, Mic check</h1>

<br>

<% @products.each do |product| %>

<p>Name:<%= product.name %></p>
<p>Price:<%= product.price %></p>
<p>Description:<%= product.description %></p>
<p>Tax:<%= product.tax %></p>
<p>Total:<%= product.total %></p>
<p>*****************</p>


<% end %>

